#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	python3 debian/environment.py build

override_dh_auto_test:

override_dh_auto_install:
	python3 debian/environment.py install $(CURDIR)/debian/sv-ligolo-ng

override_dh_auto_clean:
	python3 debian/environment.py clean
