Source: sv-mitmproxy
Section: net
Priority: optional
Maintainer: z1rov <fabian@zirov.net>
Build-Depends: debhelper-compat (= 13), python3, ca-certificates, python3-venv, python3-dev, build-essential, pkg-config, libssl-dev, libffi-dev
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: sv-mitmproxy
Architecture: any
Depends: svent-core (>= 0.4.4), ${shlibs:Depends}, ca-certificates, python3 (>= 3.13~), python3 (<< 3.14), libssl3t64, ${misc:Depends}
Description: Svent network tool: Interactive HTTP and TLS proxy suite
 Installs the network tool with declared dependencies and native commands.
