#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	python3 -c "import ast; ast.parse(open('files/armory-network').read())"

override_dh_fixperms:
	dh_fixperms
	chmod 0755 debian/sv-armory-network/usr/bin/armory-network
